.root {
    display: block;
    background-color: #fff;
    padding: 36px;
    margin-left: 16px;
    min-width: 1094px;
    min-height: 250px;

    @media (max-width: 1200px) {
        min-width: 0;
        width: calc(100vw - 36px);
        padding: 8px;
        margin-left: 0;
    }
}

.root__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.root__row {
    width: 1130px;
    padding: 20px;
    @media (max-width: 1200px) {
        width: 100vw;
    }
}

.root__layout {
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15);
    font-family: "Inter", sans-serif;
    height: 300px;
    overflow-y: hidden;

    @media (max-width: 1200px) {
        height: 250px;
    }
}

.root__sider {
    @media (max-width: 1200px) {
        height: 105px;
        background-color: #fff;
    }
}

.root__image {
    width: 190px;
    height: 100%;
    object-fit: fill;
    @media (max-width: 1200px) {
        width: 70px;
        height: 105px;
        margin-left: 8px;
        margin-top: 8px;
    }
}

.root__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 10px 0;

    @media (max-width: 1200px) {
        display: flex;
        text-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.root__title::after {
    @media (max-width: 1200px) {
        content: '';
        position: absolute;
        right: 84px;
        width: 20px;
        height: 30px;
        background: linear-gradient(to left, #fff 15%, transparent);
    }
}

.root__title::before {
    @media (max-width: 1200px) {
        content: '';
        position: absolute;
        left: 96px;
        width: 20px;
        height: 30px;
        background: linear-gradient(to right, #fff 15%, transparent);
    }
}

.root__date {
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
}

.root__tags {
    font-size: 12px;
    line-height: 100%;
    margin: 0 0 8px 0;
    
    @media (max-width: 1200px) {
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        margin-left: -16px;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 30px;
    }
}

.root__tags::after {
    @media (max-width: 1200px) {
        content: '';
        position: absolute;
        right: 34px;
        width: 16px;
        height: 30px;
        background: linear-gradient(to left, #fff 15%, transparent);
    }
}

.root__tags::before {
    @media (max-width: 1200px) {
        content: '';
        z-index: 1;
        position: absolute;
        left: 96px;
        width: 16px;
        height: 30px;
        background: linear-gradient(to right, #fff 15%, transparent);
    }
}

.root__description {
    font-size: 12px;
    line-height: 22px;

    @media (max-width: 1200px) {
        margin-left: -84px;
        margin-top: 8px;
    }
}

.root__spinner {
    transform: scale(2);
    margin-top: 60px;
    align-self: center;
}

.root__search {
    width: calc(100% - 36px);
    height: 40px;
    border: solid 1px #D9D9D9;
    border-radius: 4px;
    margin-left: 18px;
    margin-right: 18px;
    padding: 12px;
}

.root__no-results-message {
    font-size: 40px;
    font-family: "Chakra";
}

.root__rate {
    margin-top: auto;
    align-self: center;
    margin-right: -8px;

    @media (max-width: 1200px) {
        align-self: flex-end;
        margin-left: -84px;
        margin-right: 0;
    }
}

.root__poster-spinner {
    width: 190px;
    height: 100%;
    background-color: #fff;
    padding-top: 65%;

    @media (max-width: 1200px) {
        width: 70px;
        height: 105px;
        margin-left: 8px;
        margin-top: 8px;
        padding-top: 50%;
    }
}

.root__film-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.root__rating {
    display: flex;
    border: 3px solid #E9D100;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self: flex-start;
}

.root__alert {
    font-size: 20px;
    margin-top: 40px;
}