@import './components/root/root.css';

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Chakra";
    src: url("./fonts/ChakraPetch-Regular.ttf");
}

* {
    scrollbar-gutter: stable;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    margin: 0;
}

.ant-tag {
    color: rgba(0,0,0,0.65);
}